{% extends 'main/base.html' %}

{% block title %}Аналитика{% endblock %}

{% block body %}
    <div class="row">
        <div class="col s12">
            <div>
               <a href="{% url 'index' %}">Главная</a> / <a href="{% url 'stock_detail' stock.slug %}">{{ stock.title }}</a> / <span>Аналитика</span>
            </div>
            <h5>{{ stock.title }}</h5>
        </div>
        <div class="col s6">
            <form id="pricesDiffForm" method="get">
                <div>
                    <label for="date_from">От</label>
                    <input type="date" class="datepicker" name="date_from" id="date_from" value="{{ date_from }}">
                    <span class="validationMessage" id="date-from-msg">Заполните это поле</span>
                    <br>
                    <label for="date_from">До</label>
                    <input type="date" class="datepicker" name="date_to" id="date_to" value="{{ date_to }}">
                    <span class="validationMessage" id="date-to-msg">Заполните это поле</span>
                </div>

                <button id="pricesDiffFormBtn" class="custom-btn btn waves-effect waves-light" type="submit" name="action">Подтвердить</button>
            </form>

            {% if error %}
              <div class="card-alert card red lighten-5">
                  <div class="card-content red-text">
                    <p>Ошибка:</p>
                    <div class="errors">
                      <p>{{ error.message }}</p>
                  </div>
              </div>
            {% endif %}
        </div>

        <div class="col s12">
            {% if diff %}
              <h5>Разница цен для указанных дат:</h5>
              <table class="bordered highlight">
                  <thead>
                    <tr>
                        <th></th>
                        <th>Дата</th>
                        <th>Откр.</th>
                        <th>Макс.</th>
                        <th>Мин.</th>
                        <th>Послед.</th>
                        <th>Объем</th>
                    </tr>
                  </thead>

                  <tbody>
                    {% for price in prices %}
                      <tr>
                        <td>{% if forloop.first %}От:{% else %}До:{% endif %}</td>
                        <td>{{ price.date }}</td>
                        <td>{{ price.val_open }}</td>
                        <td>{{ price.val_high }}</td>
                        <td>{{ price.val_low }}</td>
                        <td>{{ price.val_close }}</td>
                        <td>{{ price.volume }}</td>
                      </tr>
                    {% endfor %}
                      <tr>
                        <td>Разница:</td>
                        <td></td>
                        <td>{{ diff.val_open }}</td>
                        <td>{{ diff.val_high }}</td>
                        <td>{{ diff.val_low }}</td>
                        <td>{{ diff.val_close }}</td>
                        <td></td>
                      </tr>
                  </tbody>
              </table>
            {% endif %}
        </div>
    </div>
{% endblock %}
