{% extends 'main/base.html' %}

{% block title %}Периоды изменения цен{% endblock %}

{% block body %}
    <div class="row">
        <div class="col s12">
            <div>
               <a href="{% url 'index' %}">Главная</a> / <a href="{% url 'stock_detail' stock.slug %}">{{ stock.title }}</a> / <span>Периоды изменения цен</span>
            </div>
            <h5>{{ stock.title }}</h5>
        </div>

        <div class="col s6">
            <form id="deltaForm" method="get">
              <div>
                <label for="value">Значение</label>
                <input type="text" name="value" id="value" value="{{ val }}">
                <span class="validationMessage" id="value-msg">Заполните это поле</span>
                <br>
                <label for="value_type">Тип цены</label>
                <select id="value_type">
                  <option value="open" {% if val_type == "val_open" %} selected {% endif %}>Откр.</option>
                  <option value="high" {% if val_type == "val_high" %} selected {% endif %}>Макс.</option>
                  <option value="low" {% if val_type == "val_low" %} selected {% endif %}>Мин.</option>
                  <option value="close" {% if val_type == "val_close" %} selected {% endif %}>Послед.</option>
                </select>
                <input type="hidden" name="type" id="type">
              </div>

              <button id="deltaFormBtn" class="custom-btn btn waves-effect waves-light" type="submit">Подтвердить</button>
            </form>

            {% if error %}
              <div class="card-alert card red lighten-5">
                  <div class="card-content red-text">
                    <div class="errors">
                      <p>{{ error.message }}</p>
                  </div>
              </div>
            {% endif %}
        </div>

        <div class="col s12">
            {% for period in periods %}
              <div class="period">
                <p>Период {{ forloop.counter }}:</p>
                <table class="bordered highlight">
                    <thead>
                      <tr>
                          <th>Дата</th>
                          <th>Откр.</th>
                          <th>Макс.</th>
                          <th>Мин.</th>
                          <th>Послед.</th>
                          <th>Объем</th>
                      </tr>
                    </thead>

                    <tbody>
                        {% for price in period %}
                          <tr>
                            <td>{{ price.date }}</td>
                            <td {% if val_type == "val_open" %} class="bold" {% endif %}>{{ price.val_open }}</td>
                            <td {% if val_type == "val_high" %} class="bold" {% endif %}>{{ price.val_high }}</td>
                            <td {% if val_type == "val_low" %} class="bold" {% endif %}>{{ price.val_low }}</td>
                            <td {% if val_type == "val_close" %} class="bold" {% endif %}>{{ price.val_close }}</td>
                            <td>{{ price.volume }}</td>
                          </tr>
                        {% endfor %}
                    </tbody>
                </table>
              </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
