{% extends "main/base.html" %}

{% block body %}
    <div class="row">
        <div class="col s12">
            {% if stocks.count %}
                <h5>Акции:</h5>
                <div class="collection">
                    {% for stock in stocks %}
                        <a href="{{ stock.get_absolute_url }}" class="collection-item">{{ stock.title }}</a>
                    {% endfor %}
                </div>
            {% else %}
                <p>Нет акций</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
