{% extends 'main/base.html' %}

{% block title %}Торговые операции совладельцев компании{% endblock %}

{% block body %}
    <div class="row">
        <div class="col s12">
            <div>
               <a href="{% url 'index' %}">Главная</a> / <a href="{% url 'stock_detail' stock.slug %}">{{ stock.title }}</a> / <span>Торговые операции совладельцев компании</span>
            </div>
            <h5>{{ stock.title }}</h5>
            <table class="bordered highlight">
                <thead>
                  <tr>
                      <th>Имя</th>
                      <th>Связь</th>
                      <th>Дата последней операции</th>
                      <th>Тип операции</th>
                      <th>Тип владельца</th>
                      <th>Проданные акции</th>
                      <th>Цена последней операции</th>
                      <th>Акции, находящиеся в собственности</th>
                  </tr>
                </thead>

                <tbody>
                    {% for trade in trades %}
                      <tr>
                        <td>{% if not filtered %}<a href="{% url 'insiders' stock.slug trade.slug %}">{{ trade.name }}</a>{% else %}{{ trade.name }}{% endif %}</td>
                        <td>{{ trade.relation }}</td>
                        <td>{{ trade.last_date }}</td>
                        <td>{{ trade.transaction_type }}</td>
                        <td>{{ trade.owner_type }}</td>
                        <td>{{ trade.shares_traded }}</td>
                        <td>{{ trade.last_price }}</td>
                        <td>{{ trade.shares_held }}</td>
                      </tr>
                    {% endfor %}
                </tbody>
          </table>
        </div>
    </div>
    {% with trades as paginated_objs %}
        {% include 'main/pagination.html' %}
    {% endwith %}
{% endblock %}
