{% if paginated_objs.paginator.num_pages > 1 %}
    <ul class="pagination center-align">
        {% if paginated_objs.has_previous %}
            <li><a href="?page={{ paginated_objs.previous_page_number }}"><i class="material-icons">chevron_left</i></a></li>
        {% endif %}

            {% with ''|center:paginated_objs.paginator.num_pages as page_range %}
                {% for num in page_range %}
                    {% if paginated_objs.number == forloop.counter %}
                        <li class="waves-effect active"><a href="?page={{ forloop.counter }}">{{ forloop.counter }}</a></li>
                    {% else %}
                        <li class="waves-effect"><a href="?page={{ forloop.counter }}">{{ forloop.counter }}</a></li>
                    {% endif %}
                {% endfor %}
            {% endwith %}

        {% for num in paginated_objs.page_range %}

        {% endfor %}

        {% if paginated_objs.has_next %}
            <li class="waves-effect"><a href="?page={{ paginated_objs.next_page_number }}"><i class="material-icons">chevron_right</i></a></li>
        {% endif %}
    </ul>
{% endif %}
