{% extends 'main/base.html' %}

{% block title %}Цены акций{% endblock %}

{% block body %}
    <div class="row">
        <div class="col s12">
            <div>
               <a href="{% url 'index' %}">Главная</a> / <span>{{ stock.title }}</span>
            </div>
            <h5>{{ stock.title }}</h5>
            <a href="{% url 'insiders' stock.slug %}">Данные о ценах акций и торговых операциях совладельцев компании</a>
            <br>
            <a href="{% url 'delta' stock.slug %}">Периоды изменения цен</a>
            <br>
            <a href="{% url 'analytics' stock.slug %}">Аналитика</a>
            <table class="bordered highlight">
                <thead>
                  <tr>
                      <th>Дата</th>
                      <th>Откр.</th>
                      <th>Макс.</th>
                      <th>Мин.</th>
                      <th>Послед.</th>
                      <th>Объем</th>
                  </tr>
                </thead>

                <tbody>
                    {% for price in prices %}
                      <tr>
                        <td>{{ price.date }}</td>
                        <td>{{ price.val_open }}</td>
                        <td>{{ price.val_high }}</td>
                        <td>{{ price.val_low }}</td>
                        <td>{{ price.val_close }}</td>
                        <td>{{ price.volume }}</td>
                      </tr>
                    {% endfor %}
                </tbody>
          </table>
        </div>
    </div>
    {% with prices as paginated_objs %}
        {% include 'main/pagination.html' %}
    {% endwith %}
{% endblock %}
