.validationMessage {
    visibility: hidden;
    font-size: 0.8rem;
    color: red;
    margin-bottom: 20px;
}
.validationMessage.visible {
    visibility: visible;
}
.datepicker {
    margin-bottom: 0px !important;
}
#pricesDiffForm {
    margin-top: 30px;
}
.custom-btn{
    margin: 20px 0;
}
#value {
    margin-bottom: 0px;
}
.errors {
    margin: 10px 0;
}
.errors ul li {
    margin: 5px 0;
}
.period {
    margin: 35px 0;
}
.period > p {
    font-weight: bolder;
}
.bold {
    font-weight: bold;
}